@import "../../variables.scss";
.form-wrapper {
  .helper-text {
    font-size: 0.8rem;
    color: $color-grey-light;
    padding: 0.2rem;
    border-radius: 0.5rem;
  }

  .status-group {
    margin-bottom: 2rem;
  }

  .submit {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 2rem;
  }
}
